<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/navigation.ejs')%>
            <div class="container">
                <header class="header">
                    <div class="image">
                        <img src="/images/01_image.png" class="animate__animated animate__lightSpeedInLeft" width="500px" alt="imagen de fondo">
                    </div>

                </header>
            </div>

            <!-- Section -->
            <div class="container-fluid" id="about">
                <div class="row bg-dark text-white p-5 text-center">
                    <div class="col-sm-6">
                        <a href="https://www.youtube.com/watch?v=413m7O06ekM&ab_channel=Contrase%C3%B1aRecords" target="_blank"><i class="fab fa-youtube fa-10x"></i></a>
                    </div>
                    <div class="col sm-6">
                        <h2 class="text-left">¡Just relax!</h2>
                        <p class="text-left">
                            Chill out music is music that is not heard, it is felt. A musical style that in just 20 years has gone from supporting actor to lifestyle. It is a contemporary musical genre that encompasses a large number of disparate aspects of musical genres that have one feature in common: their harmonious and relaxed composition. It refers to calm, tranquility and relaxation. </p>
                    </div>
                </div>
            </div>
            <%- include('partials/footer.ejs')%>
    </body>

</html>